---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Συμμετοχή σε επιστημονική εκδήλωση του Συνδέσμου Ελλήνων Εμπορικολόγων: «Σύγχρονα ζητήματα του δικαίου των σημάτων»"
  date="15 Ιανουαρίου 2022"
  tags={['Εμπορικά Σήματα']}
>
  <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgKRQvYUvs8AOf-OiAPh9jkl3uVWrFDG4BbQP8hjGmtD6nRVwAS5Sskry93loN6oMhmiCGr126_DlXW0AJooee0uAipqxWeVHHMz0GTGMZanBB_EkRoyG-m36R37-NB5Jcp1hYPe7nePtmShvcGlHBHcWsQhtOdnvyGzJevpCX6edBY2pkaS4swa51I/s1600/viber_image_2022-01-15_14-26-08-843.jpg" alt="Σύγχρονα ζητήματα του δικαίου των σημάτων" />

  <p>(Πηγή: www.syneemp.gr)</p>
</PostLayout>
