---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Συμμετοχή σε επιστημονική εκδήλωση του Συνδέσμου Ελλήνων Εμπορικολόγων: «Σύγχρονα ζητήματα του δικαίου των σημάτων»"
  date="15 Ιανουαρίου 2022"
  tags={['Εμπορικά Σήματα']}
>
  <img src="/images/img-20.jpg" alt="" />

  <p>(Πηγή: www.syneemp.gr)</p>
  
</PostLayout>
