---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Milan AC: Ένας αγώνας που δεν κερδήθηκε και ένα δίδαγμα για την κατοχύρωση σήματος της Ε.Ε."
  date="1 Ιανουαρίου 2022"
  tags={['Κατοχύρωση Εμπορικού Σήματος ΕΕ', 'EUIPO', 'Milan', 'Ανακοπή', 'Κίνδυνος Σύγχυσης']}
>
  <img src="/images/img-11.jpg" alt="" />

  <p>(Σε συνεργασία με το capital.gr)</p>
  <p>Η είδηση</p>
  <p>Περί τα μέσα του Νοέμβρη του 2021 το Γενικό Δικαστήριο της Ευρωπαϊκής Ένωσης (ΓΔΕΕ) εξέδωσε μια αρκετά διδακτική απόφαση στο πεδίο των εμπορικών σημάτων (trademarks). Η υπόθεση είναι ενδιαφέρουσα τόσο για σηματούχους όσο και για επίδοξους τέτοιους - ιδίως αν είναι ποδοσφαιρόφιλοι (ιδιαίτερα, δε, αν έχουν και κάποια αδυναμία στην ομάδα της προσφάτως πρωταθλήτριας Ιταλίας στο ποδόσφαιρο, AC Milan).</p>
  <p>Η είδηση είναι ότι η ιδιοκτήτρια εταιρεία της Milan (Associazione Calcio Milan SpA - AC Milan) δεν κατόρθωσε να εξασφαλίσει τη δυνατότητα χρήσης συγκεκριμένου σήματος με το γνωστό της έμβλημα και όνομα, για τη διάθεση στο κοινό χαρτικών προϊόντων (stationery products), προϊόντων γραφείου και συναφών αγαθών&#64434; όσο και αν η δυνατότητα αυτή θα φαινόταν, για κάποιους, αυτονόητη.</p>
  <p>Τα γεγονότα</p>
  <p>Η ιταλική ομάδα επιχείρησε να κατοχυρώσει το γνωστό σήμα της, με μια ελαφρώς αφαιρετική minimal γραμματοσειρά, με τις λέξεις AC MILAN να καταλαμβάνουν περίπου το διπλάσιο χώρο από το έμβλημα της ομάδας. Όχι, ωστόσο, επιτυχώς.</p>
  <p>Αρχικά θα πρέπει να αναφέρουμε το εξής: σε κάθε δήλωση κατάθεσης σήματος, εκτός από την ένδειξη που επιθυμούμε να καταχωρίσουμε, αναφέρονται και τα προϊόντα για τα οποία επιθυμούμε να έχει ενέργεια η καταχώριση αυτή. Έτσι, η Milan επιχείρησε να κατοχυρώσει την ένδειξη αυτή αναφορικά με χαρτικά προϊόντα και προϊόντα γραφείου (μολύβια, στυλό κτλ). Μια γερμανική εταιρεία όμως (InterES Handels- und Dienstleistungs Gesellschaft mbH & Co. KG) έφερε αντιρρήσεις σε αυτή της την προσδοκία, ασκώντας ανακοπή (opposition) ενώπιον του EUIPO (European Union Intellectual Property Office). Ποιος ήταν ο λόγος; Η γερμανική εταιρεία είχε ήδη κατοχυρώσει (στη Γερμανία), το σήμα Milan με το κεφάλι ενός αρπακτικού (milan, εκτός από τη γνωστή πόλη και την ομώνυμη ομάδα, ονομάζεται και ένα είδος αρπακτικού πτηνού) για την κυκλοφορία των ίδιων προϊόντων.</p>
  <p>Το Γενικό Δικαστήριο της Ευρωπαϊκής Ένωσης (ΓΔΕΕ) έκρινε ότι συντρέχει ο κίνδυνος, για μια μη αμελητέα μερίδα του κοινού, να θεωρηθεί ότι τα συγκεκριμένα προϊόντα που σκόπευε να εμπορευθεί η Ιταλική ομάδα υπό το συγκεκριμένο σήμα προέρχονται από τη Γερμανική εταιρεία ("κίνδυνος σύγχυσης"). Αυτό το συμπέρασμα το στήριξε στην έντονη ομοιότητα των εμπορευόμενων αγαθών (χαρτικά είδη και είδη γραφείου), αλλά και στην ομοιότητα των σημάτων σε οπτικό (τι βλέπει κανείς), ηχητικό (τι ακούει κανείς, αν διαβάσει τα σήματα) και εννοιολογικό επίπεδο (σε τι concept παραπέμπει κάθε σήμα).</p>
  <p>Το δίδαγμα για την κατοχύρωση σημάτων</p>
  <p>Η απόφαση του ΓΔΕΕ μάς υπενθύμισε για ακόμα μια φορά ότι στο δίκαιο των εμπορικών σημάτων απαιτούνται προσεκτικοί χειρισμοί. Πριν την καταχώριση οποιοδήποτε εμπορικού σήματος (ενδεικτικά: επωνυμία, λογότυπο, όνομα ιστοσελίδας, εικόνα) – και βέβαια πριν τη χρήση κάποιας ένδειξης – είναι απαραίτητος ο προηγούμενος νομικός έλεγχος από εξειδικευμένο σύμβουλο σε ζητήματα trademark.</p>
  <p>Επίσης, οι αρχές που εφαρμόζουν τα Δικαστήρια κάθε Κράτους-Μέλους της Ε.Ε., ακόμα και για εθνικά σήματα, βασίζονται και εκείνες στη νομολογία του Δικαστηρίου της Ευρωπαϊκής Ένωσης (ΔΕΕ), του Γενικού Δικαστηρίου της Ευρωπαϊκής Ένωσης (ΓΔΕΕ) αλλά και στις κατευθυντήριες Γραμμές και την πρακτική του EUIPO. Αυτό συμβαίνει για τον εξής απλό λόγο: είτε μιλάμε για εθνικό εμπορικό σήμα (Οδηγία 2015/2436) είτε για εμπορικό σήμα της ΕΕ (20017/1001) οι επιταγές προέρχονται από ενωσιακά κείμενα. Έτσι, γνωρίζουμε πού χρειάζεται να στραφούμε ώστε να παράσχουμε μια ασφαλή νομική συμβουλή, είτε πρόκειται για εθνικό εμπορικό σήμα (π.χ. της Κύπρου ή της Ελλάδας) είτε πρόκειται για εμπορικό σήμα με προστασία σε όλη την ΕΕ.</p>
  <p>Στη συγκεκριμένη περίπτωση μοιάζει να μην δόθηκε η δέουσα σημασία στον  προηγούμενο κατάλληλο νομικό έλεγχο από πλευράς καταθέτη (AC Milan). Το γεγονός ότι πρόκειται για μια πολύ γνωστή ομάδα δεν της εξασφάλισε, δίχως άλλο, το δικαίωμα να χρησιμοποιεί την ένδειξη την οποία επιθυμούσε επί των συγκεκριμένων προϊόντων. Ωστόσο, με τις κατάλληλες διαφοροποιήσεις στην υπό κρίση ένδειξη, εντοπισμένες στα στοιχεία εκείνα στα οποία εστιάζει η νομολογία και θεωρεί κρίσιμα, το πιθανότερο είναι ότι η Milan θα έβγαινε νικήτρια (και) σε αυτό τον αγώνα.</p>
  <p>Το παράδειγμα αυτό τονίζει για ακόμα μια φορά την σημασία και την προσοχή που απαιτείται κατά την προεργασία, πριν την κατάθεση δήλωσης εμπορικού σήματος, αφού, σε αυτό το πεδίου δικαίου, τίποτα δεν μπορεί να θεωρηθεί αυτονόητο.</p>
  
</PostLayout>
