---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Κατάθεση εμπορικού σήματος: Η διαδικασία και γιατί η κατοχύρωση ονόματος συμφέρει την επιχείρηση"
  date="1 Ιανουαρίου 2022"
  tags={['Εμπορικά Σήματα', 'Κατάθεση', 'Καταχώριση', 'Κατοχύρωση', 'Έλεγχος', 'Διαδικασία']}
>
  <img src="/images/img-22.jpg" alt="" />

  <p>(Σε συνεργασία με το Euro2day)</p>
  <p>Περίληψη: Σκοπός</p>
  <p>του άρθρου (Μέρος Α&#8217; και Μέρος Β&#8217;) είναι να εξηγήσει με απλά λόγια και σε μορφή</p>
  <p>ερωταπαντήσεων τους λόγους για τους οποίους η καταχώριση εμπορικού σήματος</p>
  <p>αποτελεί μια άκρως συμφέρουσα επιλογή για τον επιχειρηματία και μάλιστα, στην</p>
  <p>περίπτωση της Ελλάδας, με πολύ χαμηλό κόστος. Εκθέτουμε ενδιαφέροντα</p>
  <p>παραδείγματα – πάντοτε βοηθούν στην καλύτερη κατανόηση – και εφιστούμε την</p>
  <p>προσοχή των ενδιαφερομένων σε πιθανές περιοχές κινδύνου.</p>
  <p>Του Γιάννη Ψαράκη</p>
  <p>Με συμφέρει τελικά η κατοχύρωση εμπορικού σήματος;</p>
  <p>Τα τελευταία χρόνια παρατηρείται μια ραγδαία αύξηση στις</p>
  <p>αιτήσεις καταχώρισης εμπορικών σημάτων (δείτε εδώ για</p>
  <p>τα επίσημα στοιχεία). Παράλληλα, ακόμα και οι μεγαλύτερες εταιρείες δαπανούν</p>
  <p>σταθερά εκατομμύρια για το χτίσιμο και τη διαφύλαξη των εμπορικών σημάτων τους. Όλα</p>
  <p>αυτά δεν συμβαίνουν βέβαια τυχαία.</p>
  <p>Η καταχώριση εμπορικού σήματος εξασφαλίζει τον αναγκαίο χώρο</p>
  <p>στον οποίο θα μπορούν να διαφυλαχθούν και να καρποφορήσουν οι επιχειρηματικές</p>
  <p>προσπάθειες και δαπάνες κάθε επιχείρησης. Στην ελληνική νομική επιστήμη έχει</p>
  <p>γίνει λόγος για "κατοχύρωση επιχειρηματικής επίδοσης".</p>
  <p>Είναι ευφυές η προστασία του εμπορικού σήματος να τίθεται</p>
  <p>ψηλά στη λίστα προτεραιοτήτων μιας επιχείρησης. Ένα καλό προϊόν ή υπηρεσία,</p>
  <p>τροφοδοτεί και τροφοδοτείται από την ισχύ του εμπορικού σήματος που τα</p>
  <p>συνοδεύει. Πρόκειται για μία διαδικασία αμοιβαία επωφελή και «εμπορικά</p>
  <p>οικολογική»: το καλό προϊόν χτίζει το σήμα, το οποίο σήμα στη συνέχεια</p>
  <p>δίνει ήδη μία ώθηση "from day one" σε κάθε νέο προϊόν· παράλληλα εάν και το νέο</p>
  <p>προϊόν επιβεβαιώσει τη φήμη του σήματος και είναι καλό, θα προσθέσει κύρος στο</p>
  <p>σήμα το οποίο στη συνέχεια θα υποστηρίξει με ακόμα περισσότερη ένταση τα νέα</p>
  <p>προϊόντα. Μπορούμε όλο αυτό τον μηχανισμό να το παρομοιάσουμε με ένα</p>
  <p>κλειστό κύκλωμα με μηδενικές «τριβές», μηδενικές απώλειες και μεγιστοποίηση των</p>
  <p>ωφελειών. Σκεφτείτε τι θα συμβεί εάν τρίτος κατοχυρώσει συγκεκριμένη ένδειξη η</p>
  <p>οποία επιτίθεται στα προϊόντα σας, πριν το κάνετε εσείς. Οι όποιοι κόποι και</p>
  <p>καλές εντυπώσεις θα έχουν ευνοήσει, τελικά, κάποιον άλλο.</p>
  <p>Και σε επίπεδο δικαστικής διένεξης, όμως, εάν δηλαδή</p>
  <p>εντοπίσετε κάποιον τρίτο που αντιποιείται το σήμα σας, εκείνος ο οποίος έχει</p>
  <p>καταχωρισμένο σήμα ευνοείται με την παροχή αποδεικτικών διευκολύνσεων και</p>
  <p>περαιτέρω "όπλων" κατά τη διαδικασία της δίκης, τα οποία του παρέχει ο</p>
  <p>νέος νόμος 4679/2020.</p>
  <p>Μάλιστα, όπως επίσημα διαπιστώθηκε από έρευνα της</p>
  <p>νομοπαρασκευαστικής επιτροπής του νέου νόμου για τα εμπορικά σήματα (ν.</p>
  <p>4679/2020) σε χώρες με πληθυσμό και οικονομικά μεγέθη αντίστοιχα με εκείνα της</p>
  <p>Ελλάδας (π.χ. Πορτογαλία, Ουγγαρία, Δανία, Τσεχία, Ιρλανδία, Νορβηγία) τα</p>
  <p>τέλη για την κατάθεση σήματος στην Ελλάδα είναι τα χαμηλότερα: 100 ευρώ για την</p>
  <p>καταχώριση σήματος για μία κλάση προϊόντων/υπηρεσιών.</p>
  <p>Για μια πληθώρα λόγων, πολλούς από τους οποίους μπορείτε να</p>
  <p>εντοπίσετε στην αρθρογραφία μας, η καταχώριση σήματος καταλήγει ως μια άκρως</p>
  <p>επωφελή για την επιχείρηση κίνηση. Έχοντας βέβαια πει αυτό, η πλημμελής</p>
  <p>καταχώριση, δηλαδή η χωρίς προηγούμενο κατάλληλο νομικό έλεγχο καταχώριση</p>
  <p>σήματος, μπορεί να προκαλέσει μια σειρά από προβλήματα, αντί, στην</p>
  <p>πραγματικότητα, να μας διευκολύνει (βλ. στη συνέχεια).</p>
  <p>Τι είναι το εμπορικό σήμα και τι μπορώ να κατοχυρώσω ως</p>
  <p>τέτοιο;</p>
  <p>Σύμφωνα με το ά. 2 του ν. 4679/2020, το εθνικό σήμα μπορεί</p>
  <p>να αποτελείται από οποιαδήποτε σημεία, ιδίως από λέξεις, συμπεριλαμβανομένου</p>
  <p>του ονόματος προσώπων, ή από σχέδια, γράμματα, αριθμούς, χρώματα, το σχήμα του</p>
  <p>προϊόντος ή τη συσκευασία του προϊόντος, ή από ήχους, υπό την προϋπόθεση ότι τα</p>
  <p>σημεία αυτά:</p>
  <p>α) είναι ικανά να διακρίνουν τα προϊόντα ή τις υπηρεσίες</p>
  <p>μιας επιχείρησης από τα προϊόντα ή τις υπηρεσίες άλλων επιχειρήσεων και</p>
  <p>β) μπορούν να αναπαρίστανται στο μητρώο, κατά τρόπο που</p>
  <p>επιτρέπει στις αρμόδιες αρχές και στο κοινό να προσδιορίζουν με σαφήνεια και</p>
  <p>ακρίβεια το αντικείμενο της προστασίας που παρέχεται στο δικαιούχο του.</p>
  <p>Έτσι, πέρα από λεκτικά ή και απεικονιστικά σήματα με τα</p>
  <p>οποία ο μέσος επιχειρηματίας είναι ίσως περισσότερο εξοικειωμένος, έχουν γίνει</p>
  <p>δεκτά ως εμπορικά σήματα, για παράδειγμα, τα εξής: το σχήμα κραγιόν της</p>
  <p>εταιρείας Guerlain (δείτε εδώ),</p>
  <p>το χρώμα magenta (Pantone Rhodamine Red U) για την εταιρεία</p>
  <p>τηλεπικοινωνιών T-Mobile (δείτε εδώ)</p>
  <p>και το χαρακτηριστικό σχήμα της εμπρόσθιας μάσκας των jeeps της εταιρείας</p>
  <p>Jeep-Chrysler. Εξάλλου, με την προστασία του εμπορικού σήματος είναι δυνατόν να</p>
  <p>θωρακίσουμε και videos αλλά</p>
  <p>και ηχητικά (η γνωστή κραυγή</p>
  <p>του Tarzan προστατεύεται ως σήμα της ΕΕ). Ο γνωστός σεφ Nusret Gökçe</p>
  <p>(Salt Bae) έχει καταχωρίσει ως σήμα την</p>
  <p>κίνηση με την οποία απλώνει το μαγειρικό αλάτι στα κρέατα. Η Twitter</p>
  <p>Inc. έχει καταχωρίσει ως σήμα video όπως</p>
  <p>και η Cartier</p>
  <p>International AG, η Dropbox</p>
  <p>Inc και η ιδιοκτήτρια εταιρεία των Galleries</p>
  <p>Lafayette.</p>
  <p>Υπάρχει όμως και η δυνατότητα καταχώρισης πολυμεσικού</p>
  <p>(multimedia) σήματος, ήτοι εκείνου που περιλαμβάνει και το μέσο της εικόνας και</p>
  <p>το μέσο του ήχου. Για παράδειγμα, το Netflix (Netflix Inc.) έχει από το 2020</p>
  <p>καταχωρίσει πολυμεσικό</p>
  <p>σήμα, όπως και η La</p>
  <p>Liga (Liga Nacional de Futbol Profesional).</p>
  <p>Προστατεύομαι για πάντα; Σε ποιες περιοχές;</p>
  <p>Η προστασία του σήματος διαρκεί 10 έτη από την ημερομηνία</p>
  <p>κατάθεσης της δήλωσης. Κατόπιν υπάρχει η δυνατότητα ανανέωσης με την πληρωμή</p>
  <p>αντίστοιχου τέλους. Πρακτικά, η προστασία μπορεί να παρέχεται στο διηνεκές.</p>
  <p>Όσον αφορά τις περιοχές προστασίας, αυτό εξαρτάται. Οι</p>
  <p>διαθέσιμες επιλογές για καταχώριση σήματος είναι οι εξής: εθνικό σήμα</p>
  <p>(προστασία στην Ελλάδα), σήμα της Ευρωπαϊκής Ένωσης (προστασία σε όλες τις</p>
  <p>χώρες της ΕΕ), διεθνής καταχώριση (προστασία σε συγκεκριμένη ή συγκεκριμένες</p>
  <p>χώρες - συνήθης επιλογή στην περίπτωση εξαγωγών στις ΗΠΑ όπου τα συμβόλαια με</p>
  <p>εισαγωγείς απαιτούν καταχώριση σήματος στο UPSTO - United States Patent</p>
  <p>and Trademark Office).</p>
  <p>Γιατί χρειάζομαι τη βοήθεια ενός ειδικού στα εμπορικά</p>
  <p>σήματα πριν την καταχώριση; Γιατί να μην το κάνω εγώ ή με τη βοήθεια ενός</p>
  <p>φτηνού παρόχου;</p>
  <p>Καμιά φορά διαβάζουμε ότι η καταχώριση σήματος απαιτεί</p>
  <p>δικηγόρο, χωρίς τον οποίο δεν είναι δυνατόν να προχωρήσουμε σε αυτή. Αυτό όμως</p>
  <p>δεν είναι αληθές. Καταχώριση εμπορικού σήματος μπορεί θαυμάσια να γίνει</p>
  <p>από τον οποιονδήποτε (δηλ. και από τον ίδιο τον επιχειρηματία) ηλεκτρονικά</p>
  <p>(με κωδικούς taxis) ή</p>
  <p>και με έντυπο. Σύμπραξη δικηγόρου απαιτείται μόνο κατά την άσκηση αιτήσεων</p>
  <p>(π.χ. ανακοπή, αίτηση διαγραφής, αίτηση έκπτωσης κ.ο.κ.) ενώπιον της Διοικητικής</p>
  <p>Επιτροπής Σημάτων (ΔΕΣ) και φυσικά για ενέργειες ενώπιον Δικαστηρίων.</p>
  <p>Η απολύτως ενδεδειγμένη όμως επιλογή είναι η λήψη συμβουλής</p>
  <p>από έναν επαγγελματία εξειδικευμένο στο δίκαιο των σημάτων με στέρεη γνώση της</p>
  <p>νομολογίας και της πρακτικής ελληνικών οργάνων αλλά και των οργάνων της ΕΕ. Ο λόγος είναι ότι ακόμα και αν καταχωρισθεί</p>
  <p>σήμα στο μητρώο, ο σηματούχος δεν είναι ασφαλής. Παραμένει ευάλωτος σε</p>
  <p>επιθετικές ενέργειες τρίτων (π.χ. αίτηση διαγραφής, αγωγή για αποζημίωση αλλά</p>
  <p>και μήνυσης για την παραβίαση ποινικών διατάξεων). Μάλιστα, μια</p>
  <p>καταχώριση σήματος η οποία τελικά παραβιάζει δικαιώματα τρίτων, δημιουργεί στο</p>
  <p>σηματούχο την ψευδαίσθηση ασφάλειας, η οποία καταλήγει, τελικά, επικίνδυνη (βλ.</p>
  <p>στη συνέχεια). Δηλαδή, μια</p>
  <p>καταχώριση χωρίς προηγούμενη νομική συμβουλή, θα ισοδυναμεί πολύ συχνά, για μια</p>
  <p>σειρά από ειδικότερους λόγους, με «μη καταχώριση»· ή και κάτι ακόμα χειρότερο</p>
  <p>(βλ. ψευδαίσθηση ασφάλειας, η οποία τελικά καταλήγει επικίνδυνη).</p>
  <p>Οι λόγοι για τους οποίος πρέπει να έχετε στο πλευρό σας ένα</p>
  <p>νομικό σύμβουλο με εξειδίκευση στο δίκαιο των σημάτων γίνονται εμφανείς και στο</p>
  <p>επόμενο ερώτημα.</p>
  <p>Έχω εμπορικό σήμα. Το καταχώρισα στο Μητρώο Σημάτων.</p>
  <p>Είμαι ασφαλής;</p>
  <p>Όχι. Η καταχώριση του εμπορικού σήματος δεν</p>
  <p>διασφαλίζει ότι δεν θα στραφούν τρίτοι εναντίον του σηματούχου ζητώντας τη</p>
  <p>διαγραφή του σήματος, αποζημίωση ή ακόμα και την επιβολή ποινικών κυρώσεων.</p>
  <p>Αυτό συμβαίνει διότι υπό το νέο νόμο 4679/2020 ο έλεγχος τον οποίο κάνει η</p>
  <p>Διοίκηση για να προβεί στην καταχώριση περιορίζεται μόνο σε ένα μικρό μέρος το</p>
  <p>οποίο θα μπορούσε να γεννήσει ζητήματα στο μέλλον. Αντίθετα, εκείνο το οποίο</p>
  <p>δημιουργεί τις καλύτερες δυνατές συνθήκες για την απροβλημάτιστη</p>
  <p>δραστηριοποίηση του σηματούχου είναι η προηγούμενη λήψη συμβουλής από κάποιον</p>
  <p>ειδικό. Έτσι, ακόμα και εάν υποτεθεί ότι τρίτος στρέφεται κατά του</p>
  <p>σηματούχου, η δουλειά που θα έχει προηγηθεί και η επισήμανση</p>
  <p>"περιοχών κινδύνου", θα έχει ως συνέπεια την ουσιώδη αύξηση των</p>
  <p>πιθανοτήτων απόρριψης εν γένει αιτημάτων τρίτων.</p>
  <p>Για τους λόγους αυτούς, πολλές φορές λέγεται ότι η καταχώριση</p>
  <p>ενός σήματος για το οποίο δεν έχει προηγηθεί ο προηγούμενος ενδελεχής νομικός</p>
  <p>έλεγχος και νομική συμβουλή, αποτελεί πρώτης τάξεως</p>
  <p>"παγίδα" για τον σηματούχο: αυτό διότι εκείνος έχοντας</p>
  <p>δικαίωμα στο σήμα, διενεργεί επενδύσεις και επεκτείνει τη δραστηριότητά του υπό</p>
  <p>μια ένδειξη η οποία όμως δεν αποκλείεται να είναι εξαιρετικά ευάλωτη σε</p>
  <p>επιθετικές κινήσεις τρίτων. Με ένα απλό παράδειγμα: εάν το σήμα ακυρωθεί, όλες</p>
  <p>αυτές οι επενδύσεις θα έχουν γίνει στο κενό. Είναι σαν να κάνουμε μια</p>
  <p>κοστοβόρο ανακαίνιση σε σπίτι το οποίο μισθώνουμε για ορισμένο χρόνο - η</p>
  <p>ανακαίνιση γίνεται, αλλά τελικά καταλήγει όχι σε εμάς, αλλά σε κάποιον άλλο.</p>
  <p>Παράλληλα, αυτό ο «άλλος» θα μπορεί να μας ζητήσει και αποζημίωση (ή και να</p>
  <p>ξεκινήσει ποινικές διαδικασίες) επειδή κάναμε την ανακαίνιση χωρίς πρώτα να</p>
  <p>ερωτηθεί.</p>
  <p>*Ο Γιάννης</p>
  <p>Ψαράκης (Υπ. Διδάκτωρ Νομικής Σχολής ΕΚΠΑ - ΜΔΕ ΙΙΙ) είναι δικηγόρος,</p>
  <p>συνεργάτης της Δικηγορικής Εταιρείας Ψαράκης|Κεφαλάς (www.psarakislegal.com) και ιδρυτής του IP hub "The Trademark Hoop" (www.thetrademarkhoop.com)</p>
  <p>Το βιβλίο του «Ο</p>
  <p>Κίνδυνος Σύγχυσης στο Δίκαιο του Σήματος» κυκλοφορεί από τον εκδοτικό οίκο</p>
  <p>«Νομική Βιβλιοθήκη».</p>
  
</PostLayout>
