---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Μια υπόθεση ελληνικών συμφερόντων: η κατοχύρωση εμπορικού σήματος και το συχνότερο λάθος κατά την καταχώριση της ένδειξης"
  date="1 Ιανουαρίου 2022"
  tags={['Κατοχύρωση Εμπορικού Σήματος ΕΕ', 'Κατάθεση', 'Καταχώριση']}
>
  <img src="/images/img-21.jpg" alt="" />

  <p>(Σε συνεργασία με τη Ναυτεμπορική)</p>
  <p>Ι. Η καταχώριση</p>
  <p>εμπορικού σήματος</p>
  <p>Η καταχώριση εμπορικού σήματος συμφέρει την επιχείρηση.</p>
  <p>Διεθνείς μελέτες και οικονομικές αναλύσεις – όπως έχουμε αναλύσει σε προηγούμενη</p>
  <p>αρθρογραφία μας – αποδεικνύουν γιατί αυτό αποτελεί μια πραγματικότητα.</p>
  <p>Παράλληλα, η κατοχύρωση π.χ. λογοτύπου, ονόματος επιχείρησης ή ονόματος</p>
  <p>προϊόντος έχει σχετικά χαμηλό κόστος, είτε μιλάμε για εθνικό εμπορικό σήμα είτε</p>
  <p>ακόμα και για σήμα της Ευρωπαϊκής Ένωσης (EUTM).</p>
  <p>Ωστόσο, προκειμένου να μην προκύψουν - αργά ή και πιο</p>
  <p>γρήγορα - προβλήματα για την επιχείρηση, θα πρέπει η διαδικασία να λάβει την</p>
  <p>προσοχή που της πρέπει, ήδη από την αρχή. Η</p>
  <p>καταχώριση εμπορικού σήματος πρέπει να αντιμετωπίζεται με σοβαρότητα. Μια</p>
  <p>απόφαση του Γενικού Δικαστηρίου της Ευρωπαϊκής Ένωσης (ΓΔΕΕ) σε υπόθεση</p>
  <p>ελληνικών συμφερόντων υπενθυμίζει τους λόγους για τους οποίους η συμβουλή</p>
  <p>ειδικού σε ζητήματα εμπορικών σημάτων είναι απολύτως αναγκαία προεργασία ήδη</p>
  <p>κατά τη διαμόρφωση της προς καταχώριση ένδειξης (π.χ. όνομα, λογότυπο, εικόνα</p>
  <p>κ.ο.κ.).</p>
  <p>ΙΙ. Το</p>
  <p>συνηθέστερο σφάλμα στην πράξη – το παράδειγμα του HYAL</p>
  <p>Ένα από τα φαινόμενα που αντιμετωπίζονται συχνότερα στην</p>
  <p>πράξη, αποτελεί εκείνο των περιγραφικών ενδείξεων: συνηθέστατα οι ενδιαφερόμενοι</p>
  <p>απευθύνονται σε ειδικό έχοντας καταλήξει στην επιλογή ένδειξης η οποία</p>
  <p>περιγράφει – λιγότερο ή περισσότερο – το προϊόν ή την υπηρεσία που προορίζεται</p>
  <p>να φέρει το σήμα.</p>
  <p>Στο παράδειγμα της συγκεκριμένης υπόθεσης, Ιταλική</p>
  <p>φαρμακοβιομηχανία είχε υποβάλει δήλωση κατάθεσης σήματος της Ευρωπαϊκής Ένωσης</p>
  <p>(ώστε έτσι να απολαμβάνει προστασίας σε όλα τα Κράτη – Μέλη της ΕΕ) για την</p>
  <p>λεκτική ένδειξη "HYAL", προκειμένου να</p>
  <p>διακρίνει χημικά και φαρμακευτικά παρασκευάσματα. Η ένδειξη αυτή μάλιστα έγινε</p>
  <p>δεκτή από τον EUIPO (European Union Intellectual Property Office) και καταχωρίστηκε στο</p>
  <p>οικείο Μητρώο. Η Ιταλική εταιρεία απέκτησε, δηλαδή, εμπορικό σήμα της ΕΕ (το</p>
  <p>έτος 2008).</p>
  <p>Η συνέχεια μάς</p>
  <p>δείχνει γιατί η ολοκλήρωση της καταχώρισης εμπορικού σήματος απαιτεί στέρεη</p>
  <p>γνώση και εξειδίκευση από πλευράς νομικού συμβούλου και ότι η καταχώριση (από μόνη</p>
  <p>της) δεν θα πρέπει να μας εφησυχάζει ότι οι υπηρεσίες που λάβαμε από τον ειδικό</p>
  <p>που ανέλαβε τη διαδικασία ανταποκρινόταν στις προσδοκίες μας.</p>
  <p>Εννέα χρόνια μετά την καταχώριση του σήματος (2017),</p>
  <p>ελληνική φαρμακευτική εταιρεία αμφισβήτησε το κατά πόσο ένα τέτοιο εμπορικό</p>
  <p>σήμα, για τα συγκεκριμένα προϊόντα, ορθώς έγινε δεκτό. Σύμφωνα τελικά και με το</p>
  <p>Δικαστήριο, η ένδειξη HYAL θα μπορούσε να γίνει</p>
  <p>αντιληπτή ως επιστημονική συντομογραφία της ουσίας υαλουρονιδάσης ή θα μπορούσε</p>
  <p>να υποδείξει στο ενδιαφερόμενο κοινό είτε ότι τα προϊόντα αυτά ενδέχεται να</p>
  <p>περιέχουν υαλουρονικό οξύ ως δραστικό συστατικό ή ότι αυτά τα προϊόντα θα μπορούσαν</p>
  <p>να συνδεθούν με τις γνωστές ιδιότητες αυτού του οξέος, δηλαδή την υαλώδη και</p>
  <p>ενυδατική τους δράση. Έτσι, θα μπορούσε</p>
  <p>να έχει περιγραφικό χαρακτήρα για τα εν λόγω προϊόντα.</p>
  <p>Για το αυτό, λόγω δηλαδή αυτού του εσφαλμένου χειρισμού από</p>
  <p>την πλευρά της Ιταλικής εταιρείας κατά την επιλογή της ένδειξης, το καταχωρισθέν</p>
  <p>εμπορικό σήμα διαγράφηκε τελικά από το μητρώο σημάτων της ΕΕ.</p>
  <h2>III. Η περιγραφικότητα</h2>
  <p>των προς καταχώριση ενδείξεων</p>
  <p>Σύμφωνα με βασική αρχή του δικαίου των εμπορικών σημάτων</p>
  <p>(ά. 7 Καν. 2017/1001 για το εμπορικό σήμα της ΕΕ και ά. 4 ν. 4679/2020 σε</p>
  <p>εναρμόνιση με το ά. 4 Οδηγίας 2015/2436 για την προσέγγιση των εθνικών</p>
  <p>νομοθεσιών για τα εθνικά εμπορικά σήματα)  δεν καταχωρίζονται ως σήματα, κι αν από λάθος</p>
  <p>καταχωρίστηκαν, διαγράφονται, ενδείξεις οι οποίες συνίστανται</p>
  <p>αποκλειστικά σε σημεία ή ενδείξεις που μπορεί να χρησιμεύσουν στο εμπόριο για</p>
  <p>τη δήλωση του είδους, της ποιότητας, της ποσότητας, του προορισμού, της αξίας,</p>
  <p>της γεωγραφικής προέλευσης ή του χρόνου παραγωγής του προϊόντος ή παροχής της</p>
  <p>υπηρεσίας ή άλλων χαρακτηριστικών του προϊόντος ή της υπηρεσίας.</p>
  <p>Το τι είναι περιγραφικό (ή όχι) αποτελεί μια νομική</p>
  <p>κρίση, η ερμηνεία της οποίας προσεγγίζεται μέσα από τα κανονιστικά κείμενα, από</p>
  <p>τα Guidelines του EUIPO και βεβαίως από τη νομολογία του Γενικού Δικαστηρίου της</p>
  <p>ΕΕ (ΓΔΕΕ) και του Δικαστηρίου της ΕΕ (ΔΕΕ). Αυτό καθίσταται αντιληπτό από</p>
  <p>αρκετές σκέψεις τη συγκεκριμένης υπόθεσης.</p>
  <h2>IV. Καταχώριση: η</h2>
  <p>κορυφή του παγόβουνου</p>
  <p>Τελικά, η καταχώριση εμπορικού σήματος λέει πολλά, λέει</p>
  <p>όμως και πολύ λίγα. Εμπορικό σήμα είχε και η Ιταλική φαρμακευτική, έχοντας</p>
  <p>δαπανήσει χιλιάδες ευρώ για τη διαδικασία (παράβολα - τέλη και ενδεχόμενη αμοιβή</p>
  <p>δικηγόρου), αυτό όμως δεν εμπόδισε τη διαγραφή του σήματος. Πράγματι, η καταχώριση</p>
  <p>σήματος χωρίς την απαραίτητη προεργασία από εξειδικευμένο νομικό σύμβουλο δεν</p>
  <p>έχει ιδιαίτερο νόημα κατά το ότι, όχι σπάνια, θα συνοδεύεται με πλημμέλειες οι οποίες θα μπορούν ανά πάσα στιγμή στο</p>
  <p>μέλλον να προβληθούν και να οδηγήσουν στη διαγραφή.</p>
  <p>Εκείνος ο οποίος επιθυμεί να θέσει  σταθερά θεμέλια στην επιχειρηματική του</p>
  <p>δραστηριότητα θα πρέπει να έχει κατά νου ότι είναι απαραίτητη η προηγούμενη</p>
  <p>σωστή νομική διεργασία, προκειμένου όντως το εμπορικό σήμα να έχει την εγγενή ισχύ να αντέξει σε επιθετικές ενέργειες</p>
  <p>τρίτων (συνηθέστατα ανταγωνιστών). Η καταχώριση αποτελεί απλώς την κορυφή</p>
  <p>του παγόβουνου&#64434; πολύ πιο σημαντικό είναι το τι βρίσκεται (εάν βρίσκεται) κάτω</p>
  <p>από αυτό. Αυτό θα παράσχει την</p>
  <p>απαραίτητη ομαλότητα στη διάρκεια ζωής του σήματος χωρίς αναπάντεχες (και συχνά</p>
  <p>καταστροφικές, ιδίως σε περιπτώσεις κινδύνου σύγχυσης: καταστροφή προϊόντων,</p>
  <p>παράλειψη χρήσης συγκεκριμένης ιστοσελίδας με ήδη καλή θέση στην κατάταξη της Google κ.ο.κ.) ανατροπές.</p>
  <p>Επομένως, η εξακρίβωση της ποιότητας των υπηρεσιών που</p>
  <p>έλαβε ο σηματούχος δεν ολοκληρώνεται με την καταχώριση της ένδειξης. Η ποιότητα</p>
  <p>των υπηρεσιών, αντίθετα, θα παίξει σημαντικό ρόλο όταν ο σηματούχος χρειαστεί</p>
  <p>να προβάλει το εμπορικό του σήμα και να ασκήσει (ή και να αποκρούσει) αξιώσεις</p>
  <p>βάσει αυτού.</p>
  
</PostLayout>
