---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Αλλαγή παραδείγματος από το Γενικό Δικαστήριο της Ευρωπαϊκής Ένωσης (ΓΔΕΕ): χρήσιμα συμπεράσματα για τον ΟΒΙ και τους συμβούλους επιχειρήσεων σε ζητήματα καταχώρισης εμπορικού σήματος"
  date="6 Οκτωβρίου 2021"
  tags={['EUIPO', 'Καταχώριση', 'Περιγραφικά Σήματα']}
>
  <img src="/images/img-30.png" alt="" />

  <p>(Σε συνεργασία με Το Βήμα)</p>
  <p>Ι. Περιγραφικά</p>
  <p>σήματα και σήματα με περιγραφικά στοιχεία</p>
  <p>Όσοι ασχολούνται στην πράξη με ζητήματα καταχώρισης</p>
  <p>εμπορικού σήματος (trademark) θα συμφωνήσουν στο εξής:</p>
  <p>συχνότατα οι ενδιαφερόμενοι για καταχώριση προτείνουν ένδειξη η οποία αμέσως ή</p>
  <p>εμμέσως αναφέρεται στα προϊόντα ή υπηρεσίες τις οποίες προσφέρει (ή θα</p>
  <p>προσφέρει) και τα οποία επιθυμεί να διακρίνει. Οι ενδείξεις αυτές χαρακτηρίζονται, νομικά, ως περιγραφικές (descriptive signs).</p>
  <p>Ωστόσο, η κατοχύρωση μιας ένδειξης η οποία είναι</p>
  <p>περιγραφική, απαγορεύεται από το εθνικό αλλά και το ευρωπαϊκό δίκαιο (όμοιες</p>
  <p>ρυθμίσεις εντοπίζονται και στα λοιπά εθνικά δίκαια σε παγκόσμιο επίπεδο). Αυτό</p>
  <p>είναι και εύλογο: αν γινόταν δεκτά τα περιγραφικά σήματα και εφόσον κάποιος</p>
  <p>πρόλαβε να τα κατοχυρώσει, θα καταλήγαμε στο φαινόμενο ενδείξεις με ονομασία</p>
  <p>όπως «Μήλα» ή «Μέλι» να μην μπορούν να χρησιμοποιηθούν από ανταγωνιστές. Αυτοί</p>
  <p>όμως έτσι δεν θα μπορούσαν να περιγράφουν τα εμπορεύματά τους. Αυτό θα ζημίωνε</p>
  <p>τόσο εκείνους, όσο και τους καταναλωτές. Κάτι τέτοιο λοιπόν απαγορεύεται από το</p>
  <p>δίκαιο του σήματος (σημειώνουμε ότι στο σημείο αυτό η πρακτική του ΟΒΙ μοιάζει</p>
  <p>ελαστικότερη από εκείνη του EUIPO.</p>
  <p>Εκτός από την περίπτωση στην οποία όλα τα στοιχεία της</p>
  <p>ένδειξης είναι περιγραφικά, συχνές είναι και οι περιπτώσεις στις οποίες ένα ή</p>
  <p>περισσότερα στοιχεία από εκείνα που συναποτελούν την ένδειξη – και αυτά για το</p>
  <p>οποίο ουσιαστικά ενδιαφέρεται να μονοπωλήσει και να έχει προστασία ο ενδιαφερόμενος</p>
  <p>– είναι περιγραφικά. Πράγματι, πολύ μεγάλος αριθμός σημάτων, τόσο στο μητρώο</p>
  <p>του ΟΒΙ όσο και του EUIPO (για εμπορικά σήματα της</p>
  <p>Ε.Ε.), περιέχει περιγραφικά στοιχεία.</p>
  <p>Τι συνέπειες έχει όμως αυτό και γιατί μας ενδιαφέρει;</p>
  <p>ΙΙ. Η προστασία</p>
  <p>των περιγραφικών στοιχείων σύμφωνα με το ΓΔΕΕ – Shoppi & Naturanove</p>
  <p>Σύμφωνα με πρόσφατη απόφαση του Γενικού Δικαστηρίου της Ε.Ε.</p>
  <p>της 12.10.2022 (T-222/21), ο σηματούχος</p>
  <p>της ένδειξης "Shoppi" με συγκεκριμένη</p>
  <p>απεικόνιση (βλ. στη συνέχεια) δεν μπορούσε να απαγορεύσει την κατοχύρωση της</p>
  <p>λέξης "Shopify" για την διάκριση ίδιων προϊόντων.</p>
  <p>Δηλαδή, σύμφωνα με το Δικαστήριο, η ταύτιση στο</p>
  <p>περιγραφικό μέρος "shop" δεν ήταν ικανή να</p>
  <p>ιδρύσει κίνδυνο σύγχυσης μεταξύ των δύο ενδείξεων. Σημειώνεται ότι σύμφωνα με</p>
  <p>τη νομολογία, ταύτιση στην αρχή των ενδείξεων, ιδίως αν τα αγαθά που διακρίνονται</p>
  <p>είναι κι εκείνα ταυτόσημα,  συνηθέστατα</p>
  <p>θα οδηγεί σε διαπίστωση κινδύνου σύγχυσης και άρα σε παροχή προστασίας για τον</p>
  <p>προγενέστερο σηματούχο. Στη συγκεκριμένη περίπτωση, ωστόσο, η ταύτιση</p>
  <p>εντοπίστηκε σε περιγραφικό στοιχείο, ήτοι στη λέξη "shop".</p>
  <p>Σε άλλη υπόθεση που κρίθηκε ενώπιον του ΓΔΕΕ, κρίθηκε ότι</p>
  <p>η ένδειξη Naturanove, δεν μπορεί να</p>
  <p>απαγορεύσει τη χρήση της ένδειξης Naturalium (για προϊόντα</p>
  <p>σαπονοποιίας κτλ).</p>
  <p>Πρόκειται για περιπτώσεις των λεγόμενων αδύναμων</p>
  <p>ενδείξεων (weak signs). Χαρακτηρίζονται</p>
  <p>αδύναμες διότι μεγάλο τμήμα αυτών αποτελείται από στοιχεία τα οποία δεν</p>
  <p>διαθέτουν διακριτικό χαρακτήρα. Σύμφωνα με Κοινή Ανακοίνωση του European</p>
  <p>Trademark and Design Network (CP5 - European TMDN), δεν</p>
  <p>μπορεί να απαγορεύεται η χρήση ένδειξης τρίτης επιχείρησης, όταν ομοιάζει σε καταχωρισμένο</p>
  <p>εμπορικό σήμα αποκλειστικά σε στερούμενα διακριτικού χαρακτήρα στοιχεία. Η Κοινή</p>
  <p>Πρακτική εφαρμόζεται και στην Ελλάδα.</p>
  <p>Ωστόσο, είναι αλήθεια ότι στη νομολογία παρατηρούταν</p>
  <p>μέχρι πρότινος κατ&#8217; αποτέλεσμα προστασία ακόμα και στη βάση περιγραφικών (και</p>
  <p>άρα χωρίς διακριτικό χαρακτήρα) στοιχείων. Έτσι, στο παρελθόν έχει κριθεί ότι</p>
  <p>συντρέχει κίνδυνος σύγχυσης μεταξύ των ενδείξεων Olive line και O&#64434;live:</p>
  <p>Αποφάσεις σαν την Olive line έχουν εκδοθεί σε μεγάλο αριθμό, τόσο σε επίπεδο Ευρωπαϊκής</p>
  <p>Ένωσης, όσο και ελληνικών δικαστηρίων. Με τις αποφάσεις αυτές, παρέχεται κατ&#8217;</p>
  <p>ουσίαν μονοπωλιακό δικαίωμα σε ένα στοιχείο το οποίο είναι αναγκαίο για την</p>
  <p>περιγραφή ιδιοτήτων συγκεκριμένου αγαθού (και άρα πρέπει να παραμένει διαθέσιμο</p>
  <p>προς χρήση στους ανταγωνιστές).</p>
  <p>Όλα αυτά όμως μοιάζουν να αλλάζουν. Όπως</p>
  <p>παρατηρήθηκε από μέλος της Επιτροπής Εφέσεων του EUIPO Ricardo Rapponi σε ενημερωτικό σεμινάριο για την εξέλιξη της νομολογίας</p>
  <p>κατά το 3ο και 4ο τρίμηνο του 2022, η απόφαση Shoppi δείχνει το δρόμο για μια αλλαγή κατεύθυνσης</p>
  <p>όσον αφορά την μη παροχής προστασίας βάσει ομοιότητας σε περιγραφικά στοιχεία.</p>
  <p>Σύμφωνα με τον ίδιο, η κατεύθυνση του ανέμου έχει πλέον αλλάξει, συγκριτικά με</p>
  <p>όσα συνέβαιναν την προηγούμενη δεκαετία, με χαρακτηριστικό παράδειγμα την</p>
  <p>απόφαση Shoppi.</p>
  <p>ΙΙΙ. Τα διδάγματα;</p>
  <p>Είναι κοινή διαπίστωση ότι η</p>
  <p>Ενωσιακή νομολογία και πρακτική ασκούν εναρμονιστική επίδραση στις αντίστοιχες</p>
  <p>ελληνικές. Μεταξύ άλλων, ο νόμος 4679/2020 για το  εθνικό εμπορικό σήμα στοχεύει στην εναρμόνιση</p>
  <p>με την Οδηγία 2015/2436 ΕΕ. Η δε τελευταία είναι σχεδόν ταυτόσημη με τον</p>
  <p>Κανονισμό 2017/1001 ΕΕ για το εμπορικό σήμα της Ευρωπαϊκής Ένωσης.</p>
  <p>Διατηρώντας τα παραπάνω κατά νου,</p>
  <p>μπορούμε να προβούμε στις ακόλουθες προτάσεις και διαπιστώσεις:</p>
  <p>Πρώτον, αξίζει να αναρωτηθούμε εάν θα</p>
  <p>ήταν ωφέλιμο ο Οργανισμός Βιομηχανικής Ιδιοκτησίας (ΟΒΙ) να είναι περισσότερο</p>
  <p>αυστηρός κατά τον έλεγχο συνδρομής λόγων απόλυτων απαραδέκτων (ιδίως περιγραφικότητες).</p>
  <p>Υπάρχουν περιπτώσεις αιτήσεων που δημοσιεύονται και τελικά καταχωρίζονται, ως</p>
  <p>προς τις οποίες θα μπορούσε βάσιμα να αναρωτηθεί κανείς αν θα «επιβίωναν» μιας</p>
  <p>αίτησης ακυρότητας τρίτου – ανταγωνιστή ή μη – στη βάση της περιγραφικότητας.</p>
  <p>Αν ακυρωθεί τελικά το εμπορικό σήμα, το οποίο είναι δυνατό ακόμα και χρόνια</p>
  <p>μετά την καταχώριση, οι οποίες δαπάνες θεωρούσε ο σηματούχος ότι οικοδομούσαν</p>
  <p>πάνω σε αυτό, πλέον θα έχουν μονάχα σχετική σημασία. Παράλληλα, η ύπαρξη</p>
  <p>τέτοιων ενδείξεων στο μητρώο και η μόνη η πιθανότητα ύπαρξης αντιδικίας, τρομοκρατεί</p>
  <p>τις επιχειρήσεις οι οποίες έτσι διστάζουν να περιγράψουν επιτυχώς τα προϊόντα</p>
  <p>τους (Ramsey, 2003). Ήδη ο EUIPO και βεβαίως το ΔΕΕ και το ΓΔΕΕ είναι αρκετά αυστηρά σε</p>
  <p>ζητήματα περιγραφικοτήτων, ακόμα και σημάτων τα οποία έχουν καταχωριστεί χρόνια</p>
  <p>πριν. Πλέον, με τη νομολογία Shoppi γίνεται ακόμα προφανέστερο ότι η</p>
  <p>σύγχρονη τάση προσανατολίζεται υπέρ της κατάλειψης περιγραφικών ενδείξεων ως</p>
  <p>κοινό κτήμα και όχι η – έστω φαινομενική, δια καταχώρισης – μονοπώλησή τους.</p>
  <p>Δεύτερον, ιδίως μετά από μία διαφαινόμενη</p>
  <p>οριστικοποίηση της μεταστροφής της νομολογίας υπέρ της μη προστασίας</p>
  <p>περιγραφικών στοιχείων σε εμπορικά σήματα, οι σύμβουλοι επιχειρήσεων είναι</p>
  <p>υποχρεωμένοι να εφιστούν την προσοχή των ενδιαφερόμενων στο ότι η καταχώριση</p>
  <p>συγκεκριμένου σήματος με περιγραφικά στοιχεία, δεν σημαίνει ότι θα τους</p>
  <p>απονέμει μονοπώλιο σε αυτά τα στοιχεία. Τις</p>
  <p>περισσότερες φορές, μάλιστα, αυτά είναι τα στοιχεία τα οποία θα επιθυμεί στην</p>
  <p>πραγματικότητα να μονοπωλήσει ο ενδιαφερόμενος και όχι π.χ. το επώνυμό του το</p>
  <p>οποίο θα συνυπάρχει στο εμπορικό σήμα. Επομένως, θα πρέπει ο επιχειρηματίας</p>
  <p>να είναι ενήμερος για αυτή την πραγματικότητα, ώστε να μπορεί συνειδητά να</p>
  <p>λάβει την εξής απόφαση: κατοχύρωση εμπορικού σήματος με τις προαναφερθείσες</p>
  <p>εγγενείς αδυναμίες, ή αναζήτηση ενός πιο επινοημένου εμπορικού σήματος, το</p>
  <p>οποίο ωστόσο θα παρέχει πλήρη προστασία και θα οικοδομηθεί στη βάση όχι της</p>
  <p>εγγενούς δύναμης των λέξεων/απεικονίσεων αλλά στη βάση της ποιότητα των</p>
  <p>προϊόντων και των υπηρεσιών του επιχειρηματικού εγχειρήματος;</p>
  <p>Αρθρογραφία:</p>
  <p>Lisa P. Ramsey, Descriptive Trademarks and the First Amendment, Tennessee Law</p>
  <p>Review, 70, 1095.</p>
  <p>*Ο</p>
  <p>Γιάννης Ψαράκης (Υπ. Διδάκτωρ Νομικής Σχολής ΕΚΠΑ - ΜΔΕ ΙΙΙ) είναι δικηγόρος,</p>
  <p>συνεργάτης της Δικηγορικής Εταιρείας Ψαράκης|Κεφαλάς (www.psarakislegal.com),</p>
  <p>ιδρυτής του IP hub "The Trademark Hoop" (www.thetrademarkhoop.com) και</p>
  <p>Καθηγητής της Νομικής Σχολής του Μητροπολιτικού Κολλεγίου (University of East London).</p>
  
</PostLayout>
