---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Εκπαιδευτικό σεμινάριο: Η καταχώριση εμπορικού σήματος και η αποτελεσματική προστασία του"
  date="4 Μαΐου 2024"
  tags={['Εμπορικά Σήματα', 'Καταχώριση', 'Σεμινάριο']}
>
  <img src="/images/img-01.png" alt="" />

  <p>Ο Γιάννης Ψαράκης συμμετείχε ως εισηγητής στο σεμινάριο που διοργανώθηκε από τη Νομική Βιβλιοθήκη με θέμα "Η καταχώριση εμπορικού σήματος και η αποτελεσματική προστασία του". Το σεμινάριο είναι διαθέσιμο εδώ.</p>
  
</PostLayout>
