---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Επιστημονική Δημοσίευση στο νομικό περιοδικό ΣΥΝΗΓΟΡΟΣ της Νομικής Βιβλιοθήκης"
  date="26 Απριλίου 2023"
  tags={['Εμπορικά Σήματα', 'Δημοσίευση', 'ΣΥΝΗΓΟΡΟΣ']}
>
  <img src="/images/img-06.webp" alt="" />

  <p>Το άρθρο του Γιάννη Ψαράκη μπορείτε να το βρείτε εδώ.</p>
  
</PostLayout>
