---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Επιστημονική Δημοσίευση στο νομικό περιοδικό ΣΥΝΗΓΟΡΟΣ της Νομικής Βιβλιοθήκης"
  date="26 Απριλίου 2023"
  tags={['Εμπορικά Σήματα', 'Δημοσίευση', 'ΣΥΝΗΓΟΡΟΣ']}
>
  <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg7OVLdqjf9aFPpinXYKqgp-KsfGQEh_2KYZKgnkpDBstJJv1OAGnqlsFZ6Fr45SLX4WsrwjAeBPvcUcWzjOQ7OeOsR0WgHV-hbG3qLN6dq1rJrmOqr_P_7e7hPxPMLINWolDuZtF2Kkksq_rp4o3rR7u2HzFvC76gS60y5NVIO6m-JS46VSUkJP1TL/s320/451424143.webp" alt="ΣΥΝΗΓΟΡΟΣ - Νομική Βιβλιοθήκη" />

  <p>Το άρθρο του Γιάννη Ψαράκη μπορείτε να το βρείτε <a href="https://www.psarakislegal.com/download/451424143.pdf" target="_blank" rel="noopener">εδώ</a>.</p>
</PostLayout>
