---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Επιστημονική Δημοσίευση στο νομικό περιοδικό Δίκαιο Τεχνολογίας & Επικοινωνίας (ΔΙΤΕ) της Νομικής Βιβλιοθήκης"
  date="7 Φεβρουαρίου 2024"
  tags={['Εμπορικά Σήματα', 'Google Ads', 'Δημοσίευση']}
>
  <p>Το άρθρο του Γιάννη Ψαράκη μπορείτε να το βρείτε εδώ</p>
  
</PostLayout>
