---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Επιστημονική Δημοσίευση στο νομικό περιοδικό Δίκαιο Τεχνολογίας & Επικοινωνίας (ΔΙΤΕ) της Νομικής Βιβλιοθήκης"
  date="7 Φεβρουαρίου 2024"
  tags={['Εμπορικά Σήματα', 'Google Ads', 'Δημοσίευση']}
>
  <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgp7QepV3AsnZ6l4Vx-E9mY87IxRyp7yBn-A4pTlpgGybIpbrH9koRUo-I7NnAHA_ioVXA6VqACgPv1dz8X0fOwkfSn6KbRVtCOep7vshwiMPE9i-nqRLi7NrwFJKKQN3kjjIK_cPs8XV50wQHdMhWIUdPQglc4ooLtZPCVen-y5lqPz8tcFRZ_fNU6pX4/s320/clipboard_image_2fa86c77b441408c.png" alt="ΔΙΤΕ - Δίκαιο Τεχνολογίας & Επικοινωνίας" />

  <p>Το άρθρο του Γιάννη Ψαράκη μπορείτε να το βρείτε <a href="https://www.psarakislegal.com" target="_blank" rel="noopener">εδώ</a>.</p>
</PostLayout>
