---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Επιστημονική Δημοσίευση στο νομικό περιοδικό Journal of Intellectual Property Law & Practice (Oxford University Press)"
  date="7 Μαΐου 2023"
  tags={['Εμπορικά Σήματα', 'Δημοσίευση', 'Oxford University Press']}
>
  <img src="/images/img-05.webp" alt="" />

  <p>Το άρθρο του Γιάννη Ψαράκη είναι διαθέσιμο εδώ.</p>
  
</PostLayout>
