---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Επιστημονική Δημοσίευση στο νομικό περιοδικό Journal of Intellectual Property Law & Practice (Oxford University Press)"
  date="7 Μαΐου 2023"
  tags={['Εμπορικά Σήματα', 'Δημοσίευση', 'Oxford University Press']}
>
  <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiQ17nxHRC7WqE8puhfxF0ulwAmbbQZxx9tvo6o6Gkx-eQAA4YLNuN9pO4Kidv7i6SHeCirMR26ha4np1tjYR1TTT7f3-0_OnFeBC8LK8g-vkrEOPHazp8U_VYfUQvTzoeDgkC9WpuS2xrDJ5oToPZbHKmwWeQ5-9uy2oKv9Tv-0FQGGsK5KMjhZY1Z/s1247/clipboard_image_6b5c0d281c355e1e.webp" alt="Journal of Intellectual Property Law & Practice" />

  <p>Το άρθρο του Γιάννη Ψαράκη είναι διαθέσιμο <a href="https://academic.oup.com/jiplp" target="_blank" rel="noopener">εδώ</a>.</p>
</PostLayout>
