---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Το περιστατικό με τη γιαγιά στα Lidl, μια φήμη και ένα ... δίδαγμα"
  date="2 Νοεμβρίου 2021"
  tags={['Branding', 'Marketing', 'Εμπορικά Σήματα']}
>
  <p>(Σε συνεργασία με το euro2day)</p>
  <p>Προ ημερών έλαβε μεγάλη δημοσιότητα η είδηση σύμφωνα με την οποία 73χρονη (αλλού αναφέρεται ως 65χρονη) γυναίκα επιχείρησε να κλέψει τρόφιμα από κατάστημα της γνωστής αλυσίδας supermarket Lidl. Η αιτία για την οποία έλαβε τέτοια δημοσιότητα το γεγονός, ήταν όχι τόσο η πράξη που της αποδίδεται, αλλά η αντίδραση της γνωστής αλυσίδας: φέρεται ότι κατέθεσε (ή είχε τουλάχιστον την πρόθεση να καταθέσει) μήνυση.</p>
  <p>Η αντίδραση του κοινού ήταν έντονη, κατηγορώντας τα Lidl για αναλγησία και πολλά άλλα - η ιστορία εξάλλου είναι γνωστή.</p>
  <p>Remaining Time-0:00FullscreenMute</p>
  <p>Ιδιαίτερο ενδιαφέρον όμως έχει και η αντίδραση που αποδόθηκε (αρχικά τουλάχιστον) στην αλυσίδα super markets Σκλαβενίτης. Σύμφωνα με φήμες οι οποίες σχεδόν άμεσα κατέκλυσαν το διαδίκτυο, μόλις το περιστατικό δημοσιεύτηκε, ένα φορτηγάκι της εταιρείας "γέμισε" με τρόφιμα το σπίτι της ηλικιωμένης κυρίας. Η είδηση δεν έχει επιβεβαιωθεί επίσημα από τον Σκλαβενίτη, ενώ πηγές αναφέρουν ότι η ίδια η εταιρεία έχει διαψεύσει τη φήμη. Δεν αναιρείται, όμως, η καταλληλότητα του συγκεκριμένου περιστατικού για να προχωρήσουμε σε ορισμένες χρήσιμες διαπιστώσεις.</p>
  <p>Η αναφορά αυτή λοιπόν μάς κάνει να θυμηθούμε την αξία λοιπών ενεργειών, πέραν της διαφήμισης, για την οικοδόμηση ορισμένου brand. Αυτή βέβαια (ενν. η διαφήμιση), αποτελεί τη συχνότερη αιτία για την οποία ένα διακριτικό γνώρισμα (π.χ. επωνυμία) θα θεωρηθεί φημισμένο. Είναι αλήθεια ότι εκατοντάδες εκατομμύρια ευρώ δαπανώνται σε διαφήμιση ετησίως σε παγκόσμια κλίμακα. Αυτό αποτελεί τον κανόνα. Η αλυσίδα supermarkets Σκλαβενίτης - μιας που ο "αστικός μύθος" (έτσι φαίνεται πως είναι) την αφορά - αποτελεί μια καλή εξαίρεση&#183; και την χαρακτηριστικότερη περίπτωση στα ελληνικά δεδομένα για το πώς μπορεί να οικοδομηθεί ένα ισχυρό brand με ελάχιστη διαφημιστική δαπάνη.</p>
  <p>Θα μπορούσαμε να πούμε μάλιστα ότι ακριβώς το γεγονός αυτό -ότι δηλαδή η εταιρεία υστερεί σε διαφημιστική δαπάνη- δημιουργεί συμπάθειες στο κοινό&#903; δεν ήταν λίγες οι φορές που δημοσιεύματα στα media ανέφεραν πως η εξοικονόμηση χρημάτων από τη διαφήμιση επέτρεπε την καλύτερη αμοιβή των εργαζομένων (βλ. και την απόφαση για κλειστά καταστήματα τις Κυριακές), καθώς και κοινωνικές δράσεις (κοινωνική εταιρική ευθύνη).</p>
  <p>Όλα αυτά διαπιστώνονται και στην υπ&#8217; αριθμ. 637/2017 απόφαση της Επιτροπής Ανταγωνισμού (σε Ολομέλεια) όπου αναφέρεται ότι έως τότε (2017) η εταιρεία δεν είχε προβεί σε συστηματική διαφημιστική καμπάνια και οι σχετικές δαπάνες ήταν πολύ χαμηλότερες έναντι εκείνων των ανταγωνιστών, μην εστιάζοντας, εξάλλου, στη διαφήμιση. Στην ίδια απόφαση, μετά την παραδοχή ότι "Είναι γνωστό ότι η διαφήμιση λειτουργεί στη συνείδηση του καταναλωτή και επηρεάζει σημαντικά τις αγοραστικές του συνήθειες, μεταβάλλοντας αυτές, τόσο ως προς το κατάστημα που επιλέγει όσο και ως προς τα προϊόντα", η Επιτροπή Ανταγωνισμού αναγνώρισε ότι – πάρα την έλλειψη διαφημιστικών δαπανών σε μεγάλα μεγέθη – η αλυσίδα Σκλαβενίτης αποτελεί μια από τις μεγαλύτερες αλυσίδες σούπερ μάρκετ με βάση το εθνικό μερίδιο αγοράς.</p>
  <p>Εξάλλου η διαφήμιση δεν έχει μόνο την κλασική μορφή που γνωρίζουμε. Η διαφήμιση από στόμα σε στόμα αποτελεί μια ακόμα μορφή της. Όπως μάλιστα παρατηρείται, είναι τέσσερις με πέντε φορές αποδοτικότερη της "κλασικής", σε έντυπα, τηλεόραση και internet (Bjornland et al., What Really Shapes the Customer Experience, The Boston Consulting Group).</p>
  <p>Τα ανωτέρω εξακολουθούν να ισχύουν, όπως αναφέραμε και προηγουμένως, ανεξαρτήτως του αν πράγματι ο Σκλαβενίτης προχώρησε στην όμορφη αυτή ενέργεια. Διότι ακόμα και αυτό το άμεσο αντανακλαστικό της κοινωνίας να δημιουργήσει έναν τέτοιο "αστικό μύθο" και στη συνέχεια αυτός να γίνει αμέσως πιστευτός ως φυσιολογική και πάντως καθόλου αναπάντεχη αντίδραση της εταιρείας, κρίνοντας από την πορεία και τις επιλογές της, έχει τη σημασία της.</p>
  <p>Και είναι κάθε άλλο παρά αδιάφορη.</p>
  
</PostLayout>
