---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Ο πόλεμος στην Ουκρανία, τα ξένα κράτη που διαπράττουν εχθρικές ενέργειες κατά της Ρωσίας και η Πέππα το γουρουνάκι"
  date="3 Νοεμβρίου 2021"
  tags={['Εμπορικά Σήματα', 'Πνευματική Ιδιοκτησία']}
>
  <img src="/images/img-14.jpg" alt="" />

  <p>(Σε συνεργασία με το neakriti.gr)</p>
  <p>Οι προεκτάσεις του πολέμου στην Ουκρανία κινούνται πραγματικά προς κάθε κατεύθυνση. Ορισμένες αποτελούν φυσική απόρροια της κατάστασης (αύξηση τιμών, αβεβαιότητα στο επιχειρείν), άλλες κινούνται στο πεδίο των ποινών κατά της Ρωσίας (λχ. αποκλεισμός από το σύστημα SWIFT) ενώ και η Ρωσία επιστρατεύει τα «όπλα» της, επιχειρώντας να πλήξει εχθρικές σε αυτή δυνάμεις, με όποιο τρόπο μπορεί, όταν τα πραγματικά όπλα δεν είναι αρκετά. Στο σημερινό άρθρο θα παρουσιάσουμε πώς η Ρωσία επιχείρησε να εκμεταλλευθεί τη μεγάλη αξία που ενσωματώνουν τα δικαιώματα διανοητικής ιδιοκτησίας στον «πόλεμο δίπλα στον πόλεμο» που διεξάγεται όχι τόσο με την Ουκρανία, όσο με τις τρίτες χώρες.</p>
  <p>Τα δικαιώματα διανοητικής ιδιοκτησίας έχουν την ιδιότητα να ενσωματώνουν αξίες δίχως όρια. Η κατοχύρωση λχ. ενός διπλώματος ευρεσιτεχνίας (γνωστό αλλιώς και ως «πατέντα») ή ενός εμπορικού σήματος, επιτρέπει στο δικαιούχο να προφυλάσσει τη δημιουργία του και τις επενδύσεις του επί συγκεκριμένου εγχειρήματος, όση αξία κι αν ενσωματώνουν. Επίσης, η παροχή προστασίας, όπως έχουμε επανειλημμένως αναφέρει, είναι ζωτικής σημασίας για μια επιχείρηση.</p>
  <p>Αναγνωρίζοντας αυτή την πραγματικότητα, σύμφωνα με διάταγμα της 7ης Μαρτίου, η Κυβέρνηση της Ρωσικής Ομοσπονδίας, όρισε ότι όσοι παραβιάζουν δικαιώματα διανοητικής ιδιοκτησίας των οποίων δικαιούχος είναι φυσικό πρόσωπο ή εταιρεία από κράτη που διάκεινται εχθρικά στο πεδίο της εισβολής των δυνάμεων της Ρωσίας στα ουκρανικά εδάφη, δεν θα οφείλει αποζημίωση για την χωρίς τη λήψη προηγούμενης άδειας, χρήση τους.</p>
  <p>Το διάταγμα συγκεκριμένα αναφέρεται σε «κατόχους διπλωμάτων ευρεσιτεχνίας που συνδέονται με ξένα κράτη που διαπράττουν εχθρικές ενέργειες εναντίον ρωσικών νομικών και φυσικών προσώπων» και ορίζει ότι «το ποσό της αποζημίωσης είναι 0% του πραγματικού εισοδήματος από τη χρήση αυτή».</p>
  <p>Μάλιστα, φαίνεται ότι τα Δικαστήρια της Ρωσίας επεκτείνουν αυτή τη μεταχείριση και σε λοιπά δικαιώματα διανοητικής ιδιοκτησίας: Σε άρθρο του skynews της Κυριακής 13.3.2022 αναφέρεται ότι εκδόθηκε απόφαση η οποία αναγνώρισε ότι η χρήση του γνωστού καρτούν Πέππα το γουρουνάκι (προστατευμένο εμπορικό σήμα στη Ρωσία – Trademark), μπορεί να γίνεται από τρίτους χωρίς την καταβολή κάποιας αποζημίωσης στη δικαιούχο αμερικανική εταιρεία. Η δικαστική απόφαση έκανε αναφορά, συγκεκριμένα, «στις εχθρικές ενέργειες των ΗΠΑ και των συμμαχικών δυνάμεων», στο πλαίσιο του πολέμου με την Ουκρανία.Και βρισκόμαστε μονάχα στην αρχή.</p>
  
</PostLayout>
