---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Ο πόλεμος στην Ουκρανία, τα ξένα κράτη που διαπράττουν εχθρικές ενέργειες κατά της Ρωσίας και η Πέππα το γουρουνάκι"
  date="3 Νοεμβρίου 2021"
  tags={['Εμπορικά Σήματα', 'Πνευματική Ιδιοκτησία']}
>
  <img src="https://blogger.googleusercontent.com/img/a/AVvXsEiC2y1yR8yWeVRW00ymOtVwmidWOwOEUBs5zANQsFO4EKkLQOtzhMe-AWBE4xBrIhVXwgNy2L9yHR3RHAets0ntGFoB9i56tarFtIMWXUoIKt6O5JXH3MIb8-vhGzlEOpVVPpR3GoZ0MBPLXQvYDaGdjR7-az91p_frLF0ZlDu61dWZeQQpHOQggZOr=s718" alt="Ουκρανικός πόλεμος και Πνευματική Ιδιοκτησία" />

  <p>Η εισβολή της Ρωσίας στην Ουκρανία επεκτάθηκε και σε διαφορές πνευματικής ιδιοκτησίας. Σύμφωνα με ρωσικό κυβερνητικό διάταγμα της 7ης Μαρτίου, φυσικά ή νομικά πρόσωπα που παραβιάζουν δικαιώματα πνευματικής ιδιοκτησίας ανήκοντα σε οντότητες από κράτη που διεξάγουν εχθρικές ενέργειες κατά της Ρωσίας δεν υποχρεούνται σε καμία αποζημίωση.</p>

  <p>Το διάταγμα αναφέρεται ειδικά σε «κατόχους διπλωμάτων ευρεσιτεχνίας που συνδέονται με ξένα κράτη που διεξάγουν εχθρικές δραστηριότητες» και καθορίζει ότι «το ποσό αποζημίωσης ανέρχεται στο 0% του πραγματικού εισοδήματος από τέτοια χρήση».</p>

  <p>Τα ρωσικά δικαστήρια διεύρυναν προφανώς αυτή την ερμηνεία και σε άλλες κατηγορίες πνευματικής ιδιοκτησίας. Σύμφωνα με δημοσίευμα του Sky News στις 13 Μαρτίου 2022, μια ρωσική δικαστική απόφαση επέτρεψε σε τρίτους να χρησιμοποιούν τον χαρακτήρα κινουμένων σχεδίων Πέππα το γουρουνάκι (προστατευόμενο σήμα στη Ρωσία) χωρίς αποζημίωση του Αμερικανού κατόχου πνευματικών δικαιωμάτων, επικαλούμενη «εχθρικές ενέργειες των ΗΠΑ και συμμαχικών δυνάμεων».</p>

  <p>Αυτές οι εξελίξεις αντιπροσωπεύουν απλώς ένα αρχικό στάδιο κλιμακούμενων εντάσεων σχετικών με πνευματική ιδιοκτησία.</p>
</PostLayout>
