---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Κατοχύρωση ευρωπαϊκού και εθνικού σήματος, ονόματος επιχείρησης, προϊόντος ή υπηρεσίας: ο απαραίτητος έλεγχος πριν την κατάθεση δήλωσης στον EUIPO και τον ΟΒΙ"
  date="2 Σεπτεμβρίου 2021"
  tags={['Εμπορικά Σήματα', 'EUIPO', 'ΟΒΙ', 'Κίνδυνος Σύγχυσης', 'Έλεγχος']}
>
  <p>( Σε συνεργασία με το Capital)</p>
  <p>Ι. Τα δεδομένα και η</p>
  <p>απαιτούμενη προσοχή</p>
  <p>Η</p>
  <p>καταχώριση εμπορικού σήματος συμφέρει την επιχείρηση. Διεθνείς μελέτες και</p>
  <p>οικονομικές αναλύσεις – όπως έχουμε αναλύσει σε προηγούμενη αρθρογραφία μας –</p>
  <p>αποδεικνύουν γιατί αυτό αποτελεί μια πραγματικότητα. Παράλληλα, η καταχώριση</p>
  <p>π.χ. λογοτύπου, ονόματος επιχείρησης ή ονόματος προϊόντος έχει σχετικά χαμηλό</p>
  <p>κόστος, είτε μιλάμε για εθνικό εμπορικό σήμα είτε ακόμα και για σήμα της</p>
  <p>Ευρωπαϊκής Ένωσης (EUTM).</p>
  <p>Ωστόσο,</p>
  <p>προκειμένου να μην προκύψουν - αργά ή και πιο γρήγορα - προβλήματα για την</p>
  <p>επιχείρηση, θα πρέπει η διαδικασία να λάβει την προσοχή που της πρέπει, ήδη από</p>
  <p>την αρχή. Η καταχώριση εμπορικού σήματος πρέπει να αντιμετωπίζεται με</p>
  <p>σοβαρότητα.</p>
  <p>ΙΙ. Τι είναι</p>
  <p>ο έλεγχος που προηγείται της κατάθεσης δήλωσης εμπορικού σήματος;</p>
  <p>Είναι διαδεδομένη</p>
  <p>η αντίληψη ότι ο μοναδικός έλεγχος που απαιτείται είναι εκείνος της μη ύπαρξης ίδιου</p>
  <p>εμπορικού σήματος. Ενώ αυτό το φαινόμενο – δηλαδή η προγενέστερη από τρίτο</p>
  <p>καταχώριση ακριβώς ίδιου εμπορικού σήματος για ίδια ή παρεμφερή προϊόντα και υπηρεσίες</p>
  <p>θα συναντάται σε ορισμένες περιπτώσεις, αυτός δεν είναι o συνηθέστερος λόγος ο οποίος καταλήγει σε</p>
  <p>συμβουλή μη κατάθεσης δήλωσης σήματος, με τα στοιχεία που την θέλησε ο</p>
  <p>ενδιαφερόμενος.</p>
  <p>Αντίθετα, εξόχως συνήθης λόγος είναι εκείνος που συνοψίζεται</p>
  <p>στην έννοια του κινδύνου σύγχυσης. Η έννοια αυτή καταλαμβάνει (και) τις περιπτώσεις στις οποίες δύο ενδείξεις</p>
  <p>ναι μεν δεν είναι ταυτόσημες, πλην όμως, βάσει των σε κάθε περίπτωση</p>
  <p>εφαρμοστέων κανονιστικών κειμένων (με τη σημαντική συνδρομή της νομολογίας η</p>
  <p>οποία τους ερμηνεύει και συχνά και των Κατευθυντήριων Γραμμών του EUIPO), θεωρείται ότι είναι πιθανό το κοινό να «μπερδέψει»</p>
  <p>τις δύο ενδείξεις. Το ζήτημα του</p>
  <p>κινδύνου σύγχυσης εξικνείται πολύ πέρα από την στείρα σύγκριση δύο ενδείξεων.</p>
  <p>Όπως νομολογείται παγίως από το Δικαστήριο της Ευρωπαϊκής Ένωσης (ΔΕΕ) η</p>
  <p>εκτίμηση του κινδύνου σύγχυσης αποτελεί ζήτημα πολυπαραγοντικό. Η ομοιότητα μεταξύ των επίμαχων σημείων είναι ένας μόνο από τους παράγοντες</p>
  <p>από τους οποίους εξαρτάται ο κίνδυνος της μεταξύ τους συγχύσεως (Γενικός Εισαγγελέας Giovanni Pitruzzella στις Προτάσεις της 6ης Μαρτίου 2019 στην Υπόθεση C&#8209;705/17, σκ. 39, σε διαφoρά στην οποία ενεπλάκη το σουηδικό γραφείο</p>
  <p>ευρεσιτεχνιών και εμπορικών σημάτων Patent-och rigisteringsverket).</p>
  <p>Αυτό σημαίνει πολλά. Καμία υπόθεση δεν είναι ίδια (απαιτείται εξατομικευμένη</p>
  <p>προσέγγιση) και η εκτίμηση του κινδύνου σύγχυσης δεν εξαντλείται στην σύγκριση</p>
  <p>των εκατέρωθεν ενδείξεων, υπό μια κρίση επιπέδου «μοιάζουν/δεν μοιάζουν».</p>
  <p>Σημαντικό ρόλο διαδραματίζουν και λοιποί παράγοντες (για παράδειγμα ποιο είναι</p>
  <p>το υπό κρίση κοινό, οι τρόποι διάθεσης των υπό κρίση αγαθών κτλ και τι δέχεται</p>
  <p>η νομολογία για τα υπό κρίση δεδομένα). Αναλόγως των ανωτέρω στοιχείων – και</p>
  <p>ιδίως κατόπιν στενής παρακολούθησης της συνεχώς εξελισσόμενης νομολογίας σε</p>
  <p>εθνικό και ευρωπαϊκό επίπεδο -  ο νομικός</p>
  <p>σας σύμβουλος θα σας συμβουλεύσει για το εάν είναι πιθανό να κριθεί ότι</p>
  <p>συντρέχει κίνδυνος σύγχυσης. Αξίζει να σημειωθεί – και είναι σχετικό με εκείνο</p>
  <p>που αναφέρθηκε παραπάνω, ότι δηλαδή δεν πρόκειται για μία κρίση επιπέδου</p>
  <p>«μοιάζει/δεν μοιάζει» - ότι ακόμα και η</p>
  <p>σύγκριση των ενδείξεων διενεργείται με πολύ συγκεκριμένους κανόνες και μεθόδους</p>
  <p>και είναι «τεχνική». Απέχει πολύ από την εκτίμηση που θα κάνει ένα άτομο</p>
  <p>χωρίς την απαιτούμενη εμπειρία και εξειδίκευση.</p>
  <p>ΙΙΙ. Δεν είναι όμως μόνο</p>
  <p>ο κίνδυνος σύγχυσης: ο νόμος και το παράδειγμα του COVID-19</p>
  <p>Η μελέτη για τη συνδρομή κινδύνου σύγχυσης αναφορικά με την επιθυμητή</p>
  <p>ένδειξη αποτελεί ένα μεγάλο κομμάτι της νομικής εργασίας που απαιτείται. Ωστόσο, δεν είναι το μόνο.</p>
  <p>Για παράδειγμα, σε πρόσφατη απόφαση επί δήλωσης Σήματος του Οργανισμού</p>
  <p>Βιομηχανικής Ιδιοκτησίας (ΟΒΙ - ΕΞ 7633 της 7.11.2022), επιχειρήθηκε να</p>
  <p>καταχωριστεί η ένδειξη "COCTAIL COVID 19 VACCINE SHOT - Summer nights", συνοδευόμενη από συγκεκριμένη συναφή απεικόνιση (δείτε</p>
  <p>εδώ).</p>
  <p>Στη συγκεκριμένη περίπτωση, η εξετάστρια του ΟΒΙ απέρριψε τη δήλωση με την</p>
  <p>εξής αιτιολογία:</p>
  <p>«Σύμφωνα με το άρθρο 4 παράγραφος 1</p>
  <p>περ. στ, του Νόμου 4679/2020 δεν καταχωρίζονται ως σήματα ή αν έχουν</p>
  <p>καταχωριστεί είναι δυνατόν να κηρυχθούν άκυρα, σημεία τα οποία αντίκεινται στη</p>
  <p>δημόσια τάξη ή τα χρηστά ήθη. Το κρινόμενο σήμα εμπεριέχει στο στοιχείο "Covid 19", το οποίο είναι απαράδεκτο να χρησιμοποιείται</p>
  <p>εμπορικά, ενώ ο συγκεκριμένος υιός έχει οδηγήσει στην πανδημία και στην τραγική</p>
  <p>απώλεια εκατομμυρίων ζωών παγκοσμίως και αντίκειται στη δημόσια τάξη και τα</p>
  <p>χρηστά ήθη. Article 7 (1) (f) EUTMR. Ευρωπαϊκή</p>
  <p>Νομολογία (ΜΗ 17/ΜΗ 370)».</p>
  <p>Με την παραπάνω αιτιολογία, κρίθηκε ότι η συγκεκριμένη ένδειξη αντίκειται</p>
  <p>στη δημόσια τάξη και στα χρηστά ήθη. Στη συγκεκριμένη περίπτωση, δηλαδή, δεν</p>
  <p>υπήρχε ούτε ταυτόσημη ούτε παρόμοια ένδειξη. Παρ&#8217; όλα αυτά, η δήλωση εμπορικού</p>
  <p>σήματος απερρίφθη.</p>
  <p>Αυτή – δηλαδή η αντίθεση στα χρηστά ήθη ή στη δημόσια τάξη - είναι μόνο μια από τις δεκαπέντε (15)</p>
  <p>περιπτώσεις απόλυτων απαράδεκτων που εισάγονται από τον ν. 4679/2020 για το</p>
  <p>εθνικό εμπορικό σήμα (όμοιες ρυθμίσεις συναντούμε και στον Κανονισμό 2017/100</p>
  <p>ΕΕ για το εμπορικό σήμα της ΕΕ). Υπενθυμίζουμε ότι ο κίνδυνος σύγχυσης αποτελεί</p>
  <p>έναν επιπλέον λόγο απαραδέκτου (πέραν δηλαδή των δεκαπέντε): όχι απόλυτο, αλλά</p>
  <p>σχετικό (δηλαδή προβάλλεται κατ&#8217; αρχήν μόνο από το δικαιούχο της αντίθετης</p>
  <p>ένδειξης).</p>
  <h2>IV. Τα συμπεράσματα</h2>
  <p>κι ένα «ευχαριστώ» για την απόρριψη</p>
  <p>Από τα παραπάνω προκύπτει ότι η κατάθεση εμπορικού σήματος δεν αποτελεί</p>
  <p>απλή υπόθεση. Μολονότι συχνά οι ενδιαφερόμενοι θα έχουν κάνει την «αναζήτησή</p>
  <p>τους» (η πλατφόρμα  βρίσκεται στην</p>
  <p>ιστοσελίδα https://www.tmdn.org/tmview/#/tmview και είναι προσβάσιμη από</p>
  <p>όλους, ανεξαρτήτως δικηγορικής ιδιότητας ή όχι), ο έλεγχος αυτός δεν μπορεί να</p>
  <p>φτάσει ούτε μέχρι το επίπεδο του</p>
  <p>κινδύνου σύγχυσης ούτε μέχρι το σημείο εντοπισμού και κάλυψης απόλυτων</p>
  <p>απαραδέκτων. Οι έννοιες αυτές είναι νομικές. Είδαμε προηγουμένως το</p>
  <p>παράδειγμα των κανόνων βάσει των οποίων κρίνεται η ομοιότητα (ή και η διαφορά</p>
  <p>μεταξύ δύο ενδείξεων): αυτοί είναι τεχνικοί, πολύ συγκεκριμένοι και η νομολογία</p>
  <p>συνεχώς εξελίσσεται, παρέχοντας συνεχώς νέες πληροφορίες και καθοδήγηση στους</p>
  <p>εφαρμοστές του δικαίου των εμπορικών σημάτων.</p>
  <p>Άλλωστε, το έτερο παράδειγμα με την ένδειξη η οποία περιείχε το στοιχείο COVID, είναι ενδεικτικό για την πολύπλευρη εξέταση που απαιτείται να προηγηθεί της κατάθεση συγκεκριμένης ένδειξης για καταχώριση</p>
  <p>ως εμπορικό σήμα.</p>
  <p>Και κάτι που μπορεί εκ πρώτης όψεως να μας εκπλήσσει: ο συγκεκριμένος</p>
  <p>ενδιαφερόμενος θα πρέπει να αισθάνεται</p>
  <p>τυχερός για την απόρριψη της δήλωσής του. Τούτο ιδίως για τον εξής λόγο: διότι πλέον γνωρίζει (έμαθε, τελικά, «με το δύσκολο τρόπο») ότι δεν θα</p>
  <p>μπορεί να μονοπωλεί στις συναλλαγές τη συγκεκριμένη ένδειξη.</p>
  <p>Τι θα</p>
  <p>γινόταν όμως αν δεν το μάθαινε, αν δηλαδή η αίτηση γινόταν δεκτή, όπως θα ήλπιζε;</p>
  <p>Θα μπορούσε η συγκεκριμένη ένδειξη να καταχωρισθεί (π.χ. αν δεν απέρριπτε</p>
  <p>τη δήλωση η εξετάστρια του ΟΒΙ, το οποίο συμβαίνει συχνά στην πράξη και οδηγεί</p>
  <p>σε αιτήσεις ακυρότητας οι οποίες και γίνονται δεκτές). Αυτό θα</p>
  <p>δημιουργούσε στη σηματούχο μια (ψευδ)αίσθηση ασφάλειας. Έτσι, θα οικοδομούσε</p>
  <p>στο συγκεκριμένο Brand με</p>
  <p>κάθε τρόπο. Στη συνέχεια, ωστόσο, για παράδειγμα</p>
  <p>μετά από τριετία, θα μπορούσε ο οποιοσδήποτε τρίτος (ακόμα και μη ανταγωνιστής)</p>
  <p>να ασκήσει αίτηση ακυρότητας λόγω συνδρομής ενός απόλυτου ή σχετικού λόγου</p>
  <p>απαραδέκτου, την οποία και – όπως φάνηκε - θα κέρδιζε. Αυτός είναι και ένας από</p>
  <p>τους μεγαλύτερους κινδύνους, ο οποίος αποσοβείται με τον σωστό προέλεγχο και</p>
  <p>την κατάλληλη νομική επεξεργασία από την πλευρά του υποψήφιου σηματούχου.</p>
  <p>Όπως λακωνικά κρίθηκε από το Τμήμα Προσφυγών του</p>
  <p>Γραφείου Διανοητικής Ιδιοκτησίας της Ευρωπαϊκής Ένωσης (EUIPO) στην υπόθεση R 242/2022-4 της 21ης</p>
  <p>Ιουνίου 2022</p>
  <p>"Your registration could be an error that could be questioned in the future".</p>
  
</PostLayout>
