---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Επιστημονική Δημοσίευση στο νομικό περιοδικό European Intellectual Property Review (Sweet & Maxwell)"
  date="3 Ιανουαρίου 2024"
  tags={['Εμπορικά Σήματα', 'Δημοσίευση', 'European Intellectual Property Review']}
>
  <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgH-1XNg2RLlgYNb3GcnMz1ciwi4uTV_c1Fby-5dRRso9hkN8kChritNTICq_aH9MmNqU6-nABGqKioM6MSu7sQIIrHBFkA-pTwq92gOyXw_fUaC5aP8OyVCFjNUNN_IaDNV4y6rKkd5QZoFuCqlEPNCXfcrlG5MtRawnJzp2xtA4J6T6jumZGMVkEAUNg/s895/clipboard_image_c258e09415e1c193.png" alt="European Intellectual Property Review" />

  <p>Ολόκληρο το άρθρο μπορείτε να το αγοράσετε <a href="https://www.sweetandmaxwell.co.uk" target="_blank" rel="noopener">εδώ</a>.</p>
</PostLayout>
