---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Επιστημονική Δημοσίευση στο νομικό περιοδικό European Intellectual Property Review (Sweet & Maxwell)"
  date="3 Ιανουαρίου 2024"
  tags={['Εμπορικά Σήματα', 'Δημοσίευση', 'European Intellectual Property Review']}
>
  <p>Ολόκληρο το άρθρο μπορείτε να το αγοράσετε εδώ.</p>
  
</PostLayout>
