---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Η κατοχύρωση του νέου εμπορικού σήματος της Juventus και η σημασία της γνώσης της νεότερης νομολογίας"
  date="14 Δεκεμβρίου 2021"
  tags={['Ανακοπή', 'Κατοχύρωση Εμπορικού Σήματος ΕΕ', 'EUIPO', 'Juventus', 'Κίνδυνος Σύγχυσης']}
>
  <img src="/images/img-11.jpg" alt="" />

  <p>(Σε συνεργασία με το Capital.gr)</p>
  <p>Ι. Είναι η κατοχύρωση εμπορικού σήματος πάντοτε μια ανεμπόδιστη διαδικασία;</p>
  <p>Έχουν περάσει περίπου πέντε χρόνια από τότε που η ομάδα της Juventus (επίσημα: Juventus Football Club S.p.A.) επιχείρησε ένα τολμηρό rebranding, εγκαταλείποντας το έως τότε παραδοσιακό έμβλημά της, για μια περισσότερο minimal - σε αφαιρετική απεικόνιση - εκδοχή του γράμματος J.</p>
  <p>Την 21η Δεκεμβρίου του 2021 εκδόθηκε μια ενδιαφέρουσα απόφαση (R 2803/2019-5) από την Επιτροπή Εφέσεων (Border of Appeals) του Γραφείου Διανοητικής Ιδιοκτησίας της Ευρωπαϊκής Ένωσης (European Union Intellectual Property Office - EUIPO) σε νομική διαμάχη που προκάλεσε εταιρεία από το Βέλγιο (J & JOY S.A.). Η εν λόγω εταιρεία θεώρησε ότι η ένδειξη την οποία επιχείρησε να κατοχυρώσει η Juventus ως εμπορικό σήμα της Ευρωπαϊκής Ένωσης (EUTM) ομοίαζε σε βαθμό "κινδύνου σύγχυσης" (κάτι που δεν επιτρέπεται) με κατοχυρωμένο από εκείνη προγενεστέρως εμπορικό σήμα.</p>
  <p>Οι εκατέρωθεν ενδείξεις είχαν, συγκεκριμένα, ως εξής:</p>
  <p>ΙΙ. Έχει σημασία για την κατοχύρωση εμπορικού σήματος η γνώση της νομολογίας και των διοικητικών πρακτικών;</p>
  <p>Θα μπορούσε κανείς να πει ότι, πράγματι, υπάρχει κίνδυνος έστω μη αμελητέο τμήμα του κοινού της Ε.Ε. να "μπερδέψει" τα εν λόγω σήματα ή έστω να θεωρήσει ότι υφίσταται μια σχέση συνεργασίας μεταξύ των δύο οντοτήτων. Αυτό, όμως, όπως προαναφέρθηκε, δεν επιτρέπεται. Δηλαδή, εάν κρινόταν έτσι, θα ήταν αδύνατο να προβεί η Juventus στην κατοχύρωση του νέου εμπορικού της σήματος. Το προγενέστερο δικαίωμα της βελγικής εταιρείας θα επικρατούσε και ουσιαστικά η ιταλική ομάδα θα όφειλε να απέχει από τη χρήση της συγκεκριμένης ένδειξης για τις συγκεκριμένες εμπορικές της δραστηριότητες.</p>
  <p>Παρ' ό,τι η εταιρεία από το Βέλγιο η οποία είχε κατοχυρώσει προγενέστερο εμπορικό σήμα προσκόμισε πλειάδα προηγούμενων αποφάσεων, ισχυριζόμενη ότι το αποτέλεσμα αυτών οδηγούσε στο συμπέρασμα ότι οι εν λόγω ενδείξεις όφειλαν να γίνουν αντιληπτές ως απεικονίζουσες το ίδιο περιεχόμενο (γράμμα j), το Border of Appeals έκρινε ότι δεν συνέτρεχε τέτοια περίπτωση. Σημειώνουμε ότι εάν κρινόταν ότι οι απεικονίσεις αναπαρίσταναν το ίδιο γράμμα, η έκδοση απόφασης περί συνδρομής κινδύνου σύγχυσης θα ήταν εξαιρετικά πιθανή (άρα και η νομική "ήττα" της Juventus).</p>
  <p>Βάση για την κρίση περί μη συνδρομής "κινδύνου σύγχυσης" αποτέλεσε η νεότερη νομολογία του Γενικού Δικαστηρίου της Ευρωπαϊκής Ένωσης (ΓΔΕΕ). Σύμφωνα με αυτή, οι καταναλωτές αντιλαμβάνονται τα απεικονιστικά σήματα ως έχουν, απέχοντας από περαιτέρω μη άμεσες ερμηνείες της εικόνας η οποία θα απαιτούσε πνευματική διεργασία και μόχθο (Accordingly, the Board is aligned with the latest jurisprudence of the General Court of the EU and the Grand Board of Appeal as cited above, which confirmed that consumers will perceive figurative marks &#8216;as such&#8217; and will not carry out far-fetched interpretations or mental exercises trying to decipher them).</p>
  <p>Ασχέτως του εάν συμφωνεί κανείς με τη συγκεκριμένη κρίση – δεν θα ήταν παράλογο να ισχυριστούμε ότι πράγματι εκείνο που εντυπώνεται στο νου του καταναλωτή είναι και στις δύο περιπτώσεις το γράμμα j - γεγονός παραμένει ότι η ομάδα της Juventus βγήκε νικήτρια και εκτός γηπέδου. Σημαντικό ρόλο σε αυτό διαδραμάτισε πιθανότατα η γνώση και επίκληση, από πλευράς δικηγόρων της νεότερης νομολογίας του ΓΔΕΕ.</p>
  <p>Σημείωση: Ένα πολύ καλό ενημερωτικό video για την ανακοπή επί εθνικού σήματος έχει αναρτηθεί από το Υπουργείο Ανάπτυξης και Επενδύσεων. Αν και το video αφορά σε εθνικό σήμα, οι ακολουθητέες διαδικασίες είναι σε πολύ μεγάλο βαθμό ίδιες αφού – κοντολογίς και για να μην κουράζουμε με λεπτομέρειες - βασίζονται σε σχεδόν ταυτόσημα νομοθετικά κείμενα της ΕΕ. Δηλαδή, μπορείτε να εμπιστευθείτε το video αυτό για να αντλήσετε πληροφορίες και για το εμπορικό σήμα της ΕΕ.</p>
  
</PostLayout>
