---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Δημοσίευση σχολίου στο επιστημονικό περιοδικό Επιθεώρηση Εμπορικού Δικαίου (ΕΕμπΔ) των εκδόσεων Σάκκουλας"
  date="6 Φεβρουαρίου 2022"
  tags={['Έλεγχος', 'Κατοχύρωση Εμπορικού Σήματος ΕΕ']}
>
  <p>Μια από τις χρησιμότερες συμβουλές που παρέχουμε στην αρθρογραφία μας, με μία φράση, είναι η εξής: την επιχείρηση τη συμφέρει όχι "οποιαδήποτε καταχώριση" εμπορικού σήματος, αλλά η καταχώριση της οποίας έχει προηγηθεί ο απαραίτητος νομικός έλεγχος. Ο εξειδικευμένος στο δίκαιο των εμπορικών σημάτων νομικός σύμβουλος, θα εντοπίσει και θα θέσει υπ&#900;όψιν σας θέματα και προβληματισμούς που θα πρέπει να συνυπολογίσετε πριν να είναι αργά (δηλ. μετά την καταχώριση, κατόπιν επιθετικής ενέργειας τρίτου ή κατόπιν προσπάθειας να προστατεύσετε το σήμα σας, το οποίο όμως, τελικά, δεν θα απολαμβάνει της απαραίτητης προστασίας εξ αιτίας απουσίας νομικού προελέγχου).Στο σχόλιο που δημοσιεύεται στο επιστημονικό περιοδικό Επιθεώρηση Εμπορικού Δικαίου (ΕΕμπΔ) των εκδόσεων Σάκκουλας (Δ'/2021), αναλύουμε ορισμένα ζητήματα που τέθηκαν με αφορμή την απόφαση του Γενικού Δικαστηρίου της Ευρωπαϊκής Ένωσης (ΓΔΕΕ) στην υπόθεση Τ-215/20, στην οποία ελληνική φαρμακευτική εταιρεία διεκδίκησε τη χρήση του όρου HYAL παρά την προγενέστερη σχετική καταχώριση αλλοδαπής εταιρείας, για ίδια προϊόντα. Εν συντομία, το ΓΔΕΕ έκρινε, ορθώς, ότι ως περιγραφικός όρος, το πρόθεμα HYAL γίνεται κατανοητό και ως επιστημονική συντομογραφία της ουσίας που χρησιμοποιείται σε σχετικά φαρμακευτικά προϊόντα (π.χ. υαλουρονικό οξύ). Επομένως, πρέπει ο όρος να είναι διαθέσιμος σε όλους, για την περιγραφή των αγαθών τους για τα οποία ο όρος HYAL καταλήγει περιγραφικός.Η κρίση αυτή του ΓΔΕΕ τονίζει για ακόμα μια φορά την κομβική σημασία της λήψης νομικής συμβουλής από εξειδικευμένο επαγγελματία στο δίκαιο των σημάτων, πριν την καταχώριση συγκεκριμένης ένδειξης. Διότι καταχώριση χωρίς πραγματική ισχύ θα ισούται, στην πράξη, με μη καταχώριση.Το σχόλιο του Γιάννη Ψαράκη και την απόφαση του ΓΔΕΕ μπορείτε να τα βρείτε εδώ.#ΚΑΤΟΧΥΡΩΣΗ ΕΜΠΟΡΙΚΟΥ ΣΗΜΑΤΟΣ ΤΗΣ ΕΥΡΩΠΑΪΚΗΣ ΕΝΩΣΗΣ #ΕΛΕΓΧΟΣ</p>
  
</PostLayout>
