---
import PostLayout from '../../../layouts/PostLayout.astro';
---

<PostLayout
  title="Έκδοση βιβλίου: Στο Trademark Hoop εκδίδουμε σύγγραμμα για το δίκαιο του εμπορικού σήματος με τις εκδόσεις της Νομικής Βιβλιοθήκης (2021)"
  date="6 Φεβρουαρίου 2022"
  tags={['Δικηγόρος', 'Εμπορικά Σήματα', 'Κίνδυνος Σύγχυσης']}
>
  <img src="/images/img-19.jpg" alt="" />

  <p>Στο βιβλίο «Ο Κίνδυνος Σύγχυσης Στο Δίκαιο του Σήματος» περιέχεται εκτενής ανάλυση των κρατουσών, σε θεωρία και νομολογία, θέσεων. Μέσω της παράθεσης πληθώρας νομολογιακών παραπομπών (αναφορές σε υποθέσεις του ΔΕΕ, του ΓΔΕΕ και του EUIPO, σε αποφάσεις των ελληνικών δικαστηρίων αλλά και δικαστηρίων άλλων έννομων τάξεων, όπως εκείνης των ΗΠΑ) παρέχεται η αναγκαία καθοδήγηση για τη νομολογιακή τεκμηρίωση κατά την υποστήριξη αιτήσεων και δικογράφων με κεντρικό μέγεθος τον κίνδυνο σύγχυσης. Επίσης και οι κρίνοντες επί τέτοιων αιτήσεων παροχής διοικητικής ή δικαστικής προστασίας μπορούν να ανεύρουν εδώ ένα εγχειρίδιο στο οποίο θα ανατρέχουν προς μια επαρκή θεμελίωση της απόφασης που πρόκειται να εκδώσουν. Τέλος, έχοντας παραθέσει τις κρατούσες θέσεις επί των εριζόμενων ζητημάτων, δεν παραλείπεται, όπου αυτό ταιριάζει, η κριτική αξιολόγησή τους και η αναπλαισίωση με νέες προσεγγίσεις, στη βάση και μιας διεπιστημονικής θεώρησης. Το έργο επιχειρεί να καλύψει ένα κενό στην ελληνική νομική βιβλιογραφία, αποτελώντας παράλληλα ένα απαραίτητο εργαλείο τόσο για τον δικαστή, όσο και για τον δικηγόρο της πράξης. Παράλληλα, το έργο μπορεί να αποτελέσει και ένα χρήσιμο βοήθημα για τον ερευνητή-φοιτητή ο οποίος επιθυμεί να εντρυφήσει στην έννοια του κινδύνου σύγχυσης, αλλά και την προσβολή του σήματος φήμης.</p>
  <p>Το βιβλίο του Γιάννη Ψαράκη «Ο Κίνδυνος Σύγχυσης Στο Δίκαιο του Σήματος»  κυκλοφορεί από τις εκδόσεις Νομική Βιβλιοθήκη και μπορείτε να το βρείτε εδώ.</p>
  
</PostLayout>
